.home {
  /* make the height take 100% of the viewport */
  min-height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home-title {
  font-size: 2em;
  font-weight: bold;
  /* margin-bottom: 1em; */
}

.home-legend {
  font-size: 4em;
  font-weight: 500;
  /* margin-bottom: 1em; */
}

.home-paragraph {
  font-size: 1.7em;
  /* margin-bottom: 1em; */
}

.home-button {
  font-size: 1.2em;
  font-weight: 600;

  padding: 0.7em 2em;

  border: none;
  border-radius: 50px;

  background-color: var(--blue);

  color: white;
  cursor: pointer;
  text-decoration: none;
}

.home-button:hover {
  opacity: 0.9;
}
